<!-- login.ejs -->
<!DOCTYPE html>
<html>
<head>
    <title>Iniciar sesi칩n</title>
    <style>
        .button {
            background-color: #4CAF50; /* Green */
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <% if (message) { %>
        <div><%= message %></div>
    <% } %>
    <h2>Iniciar sesi칩n</h2>
    <form action="/login" method="post">
        <label for="username">Nombre de usuario:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Contrase침a:</label><br>
        <input type="password" id="password" name="password" required><br>
        <input class="button" type="submit" value="Iniciar sesi칩n">
    </form>
    <a class="button" href="/register">Cambiar a la Pagina de Registro</a>
</body>
</html>